

<table class="highlight">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name, placeholder: "山田　太郎" %></td>
  </tr>
  <tr>
    <th><%= form.label :business %></th>
    <td><%= form.check_box  :business %></td>
  </tr>
</table>
